@model EmployeeLeaveRequestViewModel

@{
    ViewData["Title"] = "My Leave";
}

<div class="card">
    <div class="card-header">
        <h2>Leave Allocations</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col"> </div>
                <div class="col">Original Allocation</div>
                <div class="col">Current Allocation</div>
                <div class="col">Period</div>
            </div>
        </li>
        @foreach (var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><h6>@allocation.LeaveType.Name</h6></div>
                    <div class="col">
                        <button type="button" class="btn btn-info">
                            Allocated Days <span class="badge bg-secondary">@allocation.LeaveType.DefaultDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Remaining Days <span class="badge bg-secondary">@allocation.NumberOfDays</span>
                        </button>
                    </div>
                    <div class="col"> @allocation.Period </div>
                </div>
            </li>
        }
    </ul>
</div>

<hr />
<h2>Current Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].NumberOfDaysRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveRequest in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => leaveRequest.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => leaveRequest.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => leaveRequest.LeaveType.Name)
                </td>
                <td>
                    <text>&nbsp;</text>@Html.DisplayFor(modelItem => leaveRequest.NumberOfDaysRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => leaveRequest.DateRequested)
                </td>
                <td>
                    @if (leaveRequest.Cancelled)
                    {
                        <span class="badge bg-secondary">Cancelled</span>
                    }
                    else if (leaveRequest.Approved == null)
                    {
                    <span class="badge bg-warning">Pending</span>
                    }
                    else if (leaveRequest.Approved == true)
                    {
                        <span class="badge bg-primary">Approved</span>
                    }
                    else if (leaveRequest.Approved == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                </td>
                <td>
                    @if (leaveRequest.Approved == null)
                    {
                        @if(leaveRequest.Cancelled == false)
                        {
@*                             <form asp-action="Cancel" asp-route-id="@leaveRequest.Id">
                                <input name="Id" value="@leaveRequest.Id" type="hidden" />
                                <input name="cancel" type="hidden" value="true" />
                                <button type="submit" class="btn btn-danger btn-sm">Cancel Request</button> 
                            </form>
 *@
                            <button data-id="@leaveRequest.Id" class="btn btn-danger btn-sm cancelBtn" type="button">Cancel</button>
                        }
                         else
                        {
                            <button data-id="@leaveRequest.Id" class="btn btn-warning btn-sm reactivateBtn" type="button">Re-activate</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="cancelForm" asp-action="Cancel">
    <input type="hidden" id="LeaveRequestId_1" name="Id" />
    <input type="hidden" name="cancel" value="true" />
</form>

<form id="reactivateForm" asp-action="Cancel">
    <input type="hidden" id="LeaveRequestId_2" name="Id" />
    <input type="hidden" name="cancel" value="false" />
</form>


@section Scripts
{
<script>
    $(function () {

        // Event handler for re-activate button clicked
        $('.reactivateBtn').click(function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "Are you sure you want to re-activate this leave request?",
                        icon: "warning",
                        buttons: ["No", "Yes"],
                        dangerMode: false
                    }).then((confirm) => {
                        if (confirm) {
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#LeaveRequestId_2').val(id);
                            $('#reactivateForm').submit();
                        }
                    });
        });

        // Event handler for cancel button clicked
        $('.cancelBtn').click(function (e) {
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to cancel this leave request?",
                icon: "warning",
                buttons: ["No", "Yes"],
                dangerMode: false
            }).then((confirm) => {
                if (confirm) {
                    var btn = $(this);
                    var id = btn.data("id");
                    $('#LeaveRequestId_1').val(id);
                    $('#cancelForm').submit();
                }
            });
        });
    });
</script>
}