@model LeaveManagement.Web.Models.EmployeeAllocationViewModel

@{
    ViewData["Title"] = "ViewAllocations";
}

<h1>View Allocations for @Model.Firstname @Model.Lastname</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
    </dl>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
        <h4>Leave Allocations</h4>
    </div>
  <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">Leave Description</div>
                <div class="col">Original Allocation</div>
                <div class="col">Current Allocation</div>
                <div class="col">Period</div>
            </div>
        </li>
        @foreach (var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item"> @allocation.LeaveType.Name </li>
            <li class="list-group-item"> @allocation.LeaveType.DefaultDays </li>
            <li class="list-group-item"> @allocation.NumberOfDays </li>
            <li class="list-group-item"> @allocation.Period </li>
        } 
  </ul>
</div>

